
<style>
    .banner{
        background-color: #212121;
        color: #f8f9fa;
        padding: 1.6em;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap; 
        margin:0;
        position: relative;
        margin-bottom:15px;
    }
    .banner img{
        max-height: 50px;
        transition: all 2s ease;
    }
    .banner img:hover{
        transform:scale(1.1);
        cursor:pointer;
    }
    .boton {
        padding:10px;
        border: 0px solid #252525;
        border-radius:1em;
        background-color: #ff6700;
        color: #fff;
    }
    .boton:hover{
        background-color: #bc4b00;
        color: #fff; 
    }
    .flotanteIzq{
        position: absolute;
        top: 30px;
        left: 100px;
    }
    .flotanteDer{
        border-radius:1em;
        padding:10px;
        position: absolute;
        top: 30px;
        right: 100px;
    }
</style>
<div class="banner">
    <% if (showBackButton) { %>
        <button onclick="window.history.back()" class="boton flotanteIzq">Volver</button>
    <% } %>
    <% if (loggedIn) { %>
        <a href="/logout" class="btn btn-danger flotanteDer"><i class="fas fa-sign-out-alt"></i>  Salir</a>
    <% } %>
     <img src="/images/autoVement.png" alt="autoVement" onclick="window.location.href='/'"/>
</div>
